
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
            </span> <b>Dashboard</b>
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <span></span> <b>Đăng nhập</b> <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h2 class="me-2 mb-2">NHÀ HÀNG TÍT TRÊN MÂY</h2>
                        <h3 class="mb-0 font-weight-light">Ngon trên 9 tầng mây</h3>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 pe-1">
                            <img src="~/Assets/assets/images/dashboard/blog-img-2.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                            <img src="~/Assets/assets/images/dashboard/blog-img-3.jpg" class="mw-100 w-100 rounded" alt="image">
                        </div>
                        <div class="col-4 pe-1">
                            <img src="~/Assets/assets/images/dashboard/blog-img-4.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                            <img src="~/Assets/assets/images/dashboard/blog-img-5.jpg" class="mw-100 w-100 rounded" alt="image">
                        </div>
                        <div class="col-4 pe-1">
                            <img src="~/Assets/assets/images/dashboard/blog-img-1.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                            <img src="~/Assets/assets/images/dashboard/blog-img-6.jpg" class="mw-100 w-100 rounded" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
